@import "tailwindcss";
@plugin "daisyui";


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/* @theme {
  --font-display: "DM Sans", 
} */

body {
  background: #FFFFFF;
  font-family: 'Raleway', sans-serif;
 
}

.pbutton{
  background: #1A1D21;
}

.my-color{
background: #F2355F;
}

/* Custom styles for select element */

